{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    <h1>Home</h1>

    {% if user %}
        <a href="/quizz">Go to quizzes</a>
    {% else %}
        <p>Login is required to access quizzes</p>
    {% endif %}

    <!-- PERMET DE NE PAS DEVOIR FAIRE UN FRONT AVEC VITE - A REFLECHIR -->
    <script type="importmap">
        {
            "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.174/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.174/examples/jsm/"
            }
        }
    </script>
<script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
    
{% endblock %}