{% extends 'base.html' %}
{% block content %}

    {% if userQuizzesDone != totalQuizzes %}
        <p>You have answered {{ userQuizzesDone }} out of {{ totalQuizzes }} quizzes.</p>

        <h2 class="question">{{question}}</h2>

        <form id="quizz-form" method="POST">
            <div class="slidecontainer">
                <input id="answerSlider" type="range" min="0" name="value" max="100" value="50" class="slider" >
            </div>
            <input type="hidden" name="id" value="{{ id }}">
            <h2 id="sliderValue"></h2>
            <button type="button" onclick="submitAnswer()">Submit</button>
        </form>
    {% else %}
        <p>You have answered every quizzes.</p>
        <button type="button" onclick="reset()">Reset database to 0 quizz done</button>

    {% endif %}
    

    <div id="result"></div>

        <button><a href="/quizz">New quizz</a></button>

    <!-- PERMET DE NE PAS DEVOIR FAIRE UN FRONT AVEC VITE - A REFLECHIR -->
    <script type="importmap">
        {
            "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.174/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.174/examples/jsm/",
            "stats.js": "https://cdn.jsdelivr.net/npm/three@0.174/examples/jsm/libs/stats.module.js"
            }
        }
    </script>
    <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>

    <script>    
        var slider = document.getElementById("answerSlider");
        var output = document.getElementById("sliderValue");
        output.innerHTML = slider.value; // Display the default slider value

        // Update the current slider value each time its drag
        slider.oninput = function() {
        output.innerHTML = this.value;
        }
        async function submitAnswer() {
            const form = document.getElementById("quizz-form");
            const formData = new FormData(form); 
            const response = await fetch("/quizz/answer", {
                method: "POST",
                body: formData
            });

            const data = await response.json();
            document.getElementById("result").innerText = data.message;
        }
        async function reset() {
            const response = await fetch("/quizz/reset", {
                method: "DELETE",
            });

            const data = await response.json();
            document.getElementById("result").innerText = data.message;
            if(data.code == 200){
                location.reload();
            }
        }
    </script>
{% endblock  %}
