{% extends 'base.html' %}
{% block content %}
    <p>You are connected as {{ user }}</p>

    {% if userQuizzesDone != totalQuizzes %}
        <p>You have answered {{ userQuizzesDone }} out of {{ totalQuizzes }} quizzes.</p>

        {{question}}

        <form id="quizzForm" method="POST">   
            <input type="hidden" name="id" value="{{ id }}">
            <input type="text" name="value" placeholder="Value between 0 and 100">
            <button type="button" onclick="submitAnswer()">Submit</button>
        </form>
    {% else %}
        <p>You have answered every quizzes.</p>
        <button type="button" onclick="reset()">Reset database to 0 quizz done</button>

    {% endif %}
    

    <div id="result"></div>

        <button><a href="/quizz">New quizz</a></button>

    <!-- PERMET DE NE PAS DEVOIR FAIRE UN FRONT AVEC VITE - A REFLECHIR -->
    <script type="importmap">
        {
            "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.174/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.174/examples/jsm/",
            "stats.js": "https://cdn.jsdelivr.net/npm/three@0.174/examples/jsm/libs/stats.module.js"
            }
        }
    </script>
    <script type="module" src="{{ url_for('static', filename='main.js') }}"></script>

    <script>    

        async function submitAnswer() {
            const form = document.getElementById("quizzForm");
            const formData = new FormData(form); 
            const response = await fetch("/quizz/answer", {
                method: "POST",
                body: formData
            });

            const data = await response.json();
            document.getElementById("result").innerText = data.message;
        }
        async function reset() {
            const response = await fetch("/quizz/reset", {
                method: "DELETE",
            });

            const data = await response.json();
            document.getElementById("result").innerText = data.message;
        }
    </script>
{% endblock  %}
